/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */


/* ==== Scroll down to find where to put your styles :) ==== */

/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #0A4D58; color:#fff; text-shadow: none; }
::selection { background:#0A4D58; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #0A4D58; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }



/** 
 * SilverStripe Black Candy Theme
 * http://www.silverstripe.com
 *
 * This typography file is included in the WYSIWYG editor and the front end. It provides
 * a place to add link styles and font styles you would like in the CMS and the Front End.
 */
 

 
/* GENERIC STYLES 
-------------------------------------------- */
 
.typography * {
	 font-family:"Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* PARAGRAPHS 
-------------------------------------------- */
.typography p { 
 	color: #191919;
 	line-height: 18px;
 	font-size: 100%;
	margin: 0 0 18px 0;
}

/* QUOTES
-------------------------------------------- */
.typography blockquote {
	margin: 10px;
	font-size: 1.4em;
	color: #191919;
	font-style: italic;
}	
.typography q {
	display:block;
	font-size: 0.8em;
	margin: 1em 1em;
	padding: 0.5em;
	border: 1px #ccc solid;
}

/* LINKS 
-------------------------------------------- */

.typography a { 
 	text-decoration: none; 
	color: #3E91C4;
}
	.typography a:hover { 
 		text-decoration: underline;
	}

	/* LINK ICONS - shows type of file
	------------------------------------ */
	.typography a[href$=".pdf"],
	.typography a[href$=".PDF"],
	.typography a.pdf {
		padding: 2px;
		padding-left: 20px;
		background: url(../images/icons/page_white_acrobat.png) no-repeat left center;
	}
	.typography a[href$=".doc"],
	.typography a[href$=".DOC"],
	.typography a.doc {
		padding: 2px;
		padding-left: 20px;
		background: url(../images/icons/page_word.png) no-repeat left center;
	}
	.typography a[href$=".xls"],
	.typography a[href$=".XLS"],
	.typography a.xls {
		padding: 2px;
		padding-left: 20px;
		background: url(../images/icons/page_excel.png) no-repeat left center;
	}
	.typography a[href$=".gz"],
	.typography a[href$=".GZ"],
	.typography a[href$=".gzip"],
	.typography a[href$=".GZIP"],
	.typography a[href$=".zip"],
	.typography a[href$=".ZIP"],
	.typography a.archive {
		padding: 2px;
		padding-left: 20px;
		background: url(../images/icons/page_white_zip.png) no-repeat left center;
	}
	.typography a[href$=".exe"],
	.typography a[href$=".EXE"],
	.typography a.application {
		padding: 2px;
		padding-left: 20px;
		background: url(../images/icons/application.png) no-repeat left center;
	}

/* LIST STYLES 
-------------------------------------------- */
.typography ul, 
.typography ol {
	margin: 0 0 18px 24px;
	color: #191919;
}

ul.menu{
	margin:0;
}
	.typography li {
		margin: 5px 10px;
		font-size: 100%;
	}
		.typography li li {
			font-size: 100%;
		}
		
/* HEADER STYLES 
-------------------------------------------- */

.typography h1,
.typography h2 { 
	}

.typography h1 {
	font-size: 24px;
}
.typography h2 { 
 	font-size: 20px; 
 	margin-bottom:20px;
 	color:#000608;
}	
.typography h3, .field .field-label {
	color: #191919;
	border-bottom: 1px solid #ccc;
	margin: 30px 0 20px 0;
	font-weight: 300;
	clear: both;
	font-size:130%;
	padding-bottom:1px;
}

.typography h4 {
	font-size: 120%;
	color: #191919;
	width: 95%;
	font-weight: 300;
	line-height: 18px;
	margin: 0 0 16px 0;
}
.typography h5 {
	font-size: 110%;
	color: #191919;
	font-weight: 700;
	margin: 0 0 12px 0;
}
.typography h6 {
	font-size: 100%;
	color: #191919;
	line-height: 1.4em;
	margin: 0 0 12px 0;
}

/* PRE STYLES 
-------------------------------------------- */	
.typography pre {
	font-family:"Courier New",Courier;
	display:block;
	font-size:1.2em;
	margin:2em 5em;
	padding:0.5em;
	border:1px #ccc solid;
	background:#eee;;
}

.typography em, .typography i{
	font-style:italic;
}

/* TABLE STYLING 
-------------------------------------------- */
.typography table {
	margin: 0 0 18px 0;
	font-size: 11px;
	color: #666;
	border-collapse:collapse;
}
	.typography tr {}
	
		.typography td {
			border:1px solid #999;
			padding:5px;
		}

/* WYSIWYG EDITOR ALIGNMENT CLASSES 
-------------------------------------------- */
.typography .left {
	text-align: left;
}
.typography .center {
	text-align: center;
}
.typography .right {
	text-align: right;
}

/* IMAGES 
-------------------------------------------- */
.typography img {
	border: none;
}
	.typography img.right {
		float: right;
		margin-left: 20px;
	}
	.typography img.left {
		float: left;
	}
	.typography img.leftAlone {
		float: left;
		margin-right: 100%;
	}
	.typography img.center {
		float: none;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	
	
.faq{

}

h3.faq{
	border:0;
	margin:8px 4px;
	font-size:110%;
}

p.faq{
	margin-left:50px !important;
}

p.apa{
	text-indent: -3em;
	padding-left: 3em;
}

p.apa em{
	font-style:italic;
}

p.reference-summary{
	padding-left:3em;
	padding-bottom:1em;
	color:#888;
}

table.borderless, table.borderless td, table.borderless tr,table.borderless th{
	border:none;
}

.bio{
}

p.bio{
	clear:both;
	width:100%;
	display:block;
	float:left;
}

p.bio img{
	padding:0;
	margin:5px 10px 30px 10px;
	border:1px solid #333;
	float:left;
	clear:both;
}


/*
    // ========================================== \\
   ||                                              ||
   ||               Your styles !                  ||
   ||                                              ||
    \\ ========================================== //
*/

h1#page-title{
font-size: 28px;
line-height: 36px;
margin-bottom: 20px;
}



h2{
font-size: 20px;
margin-bottom: 20px;
color: #000608;
font-weight: bold;
}


.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

h1{
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}

body{
	background-color:#333;
	font-family:"Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #191919;
line-height: 18px;
font-size: 100%;
margin: 0 0 18px 0;
font: 13px/1.231 sans-serif;
}

#wordmark{
	background: url(../images/wordmark.ut.png);
	width:298px;
	height: 33px;
}


#wordmark-inner{
    width:960px;
    margin:0 auto;
    padding:0;
    height:33px;
}

#wordmark img{
    padding:0;
    margin:0;
}


/*bread crumb */
ul.breadcrumb{
	list-style-type:none;
	margin:0;
}

ul.breadcrumb li{
	list-style-type:none;
	float: left;
	margin:10px 0;
	
}



ul.breadcrumb li:after{
content: ' » ';
margin: 0 5px;
}

ul.breadcrumb li:last-child:after{
content: '';
}


/* sllider */


.views-field.views-field-title-1 {
position: absolute;
bottom: 0;
width: 100%;
margin:0;
background: rgba(0,0,0,0.75);
}

.field-content.project_title_slider {
margin: 20px 10px;
position: relative;
}

.field-content.project_title_slider a:link, .field-content.project_title_slider a:hover, .field-content.project_title_slider a:active{
color: #fff;
}



#zone-branding-wrapper{
    width:100%;
    background-color:#555;
    background:#333 url('../images/header.background.jpg') repeat-x center bottom;
    padding:15px 0 5px 0;
}

#header-inner{
    width:960px;
    margin:0 auto;
}

#nav{
    width:100%;
    background-color:#333;
}

#nav-inner{
    width:960px;
    margin:0 auto;
}


#block-system-user-menu ul{
list-style:none;
	float: right;
}

#block-system-user-menu li, #block-menu-block-2 li li{
	list-style:none;
	float: left;
}



#block-system-user-menu .block-title, #block-menu-block-2 .block-title{
display:none;
}


#block-system-user-menu ul li a, #block-system-user-menu ul li a:visited, #block-system-user-menu ul li a:active{
    display:block;
    padding:8px 16px 8px 16px;
    color:#0A4D58;
    text-decoration:none;
    font-size:100%;
    margin:0;
}

#block-menu-block-2 .block-inner.clearfix {
	padding: 0;
	margin: 0;
}



#block-menu-block-2 .menu-name-main-menu ul {
	list-style:none;
	float: left;
	padding: 0;
	margin: 0;
}

.front .region-content-inner{
	padding: 0;
	text-align: justify;
}


.region-content-inner{
	padding: 0 40px;
	text-align: justify;
}

.menu-block-1{
	font-size: 1.1em;
	text-transform: uppercase;
}

#block-menu-block-2 .menu-name-main-menu ul li{
	list-style:none;
    margin:0;
    padding: 0;
    float:left;
}

#block-menu-block-2 ul li a, #block-menu-block-2 .menu-name-main-menu ul li a:visited, #block-menu-block-2.menu-name-main-menu ul li a:active{
    display:block;
    padding:8px 16px 8px 16px;
    color:#e0e0e0;
    text-decoration:none;
    font-size:100%;
    margin:0;
}

#block-menu-block-2 .menu-name-main-menu ul li a.active{
	background-color:#111;
	color:#3E91C4;
}

#block-menu-block-2 .menu-name-main-menu ul li a:hover{
    background-color:#222;
    color:#fff;
}

#zone-user-wrapper{
	background: #fff;
	height: 33px;
	font-size: .8em;
}

#block-search-form{
float: right;
margin-top:5px;
}



#zone-header-wrapper{
background:#0A4D58;
}

.front #zone-header{
	border-top: 3px solid #0A4D58;
	border-bottom: 3px solid #0A4D58;
}

#region-header-first{
	background:#0A4D58 url('../images/BannerMontage.png') no-repeat center bottom;	
}

.front #region-header-first{
    margin:0 auto;
    height: 139px;
    background:#0A4D58 url('../images/hero.png') no-repeat center top;
}


.front #zone-header p.quote{
    font-size:200%;
    color:#fff;
    margin-bottom:.5em;
    line-height:1.2em;
	text-shadow: 2px 2px 2px #000;
}

.front #zone-header p.summary{
    font-size:110%;
    font-weight:lighter;
    color:#fff;
    line-height:1.6em;
    width: 600px;
}

#section-content{
	background-color:#F0F0F0;
	padding-top: 10px;
	padding-bottom: 60px;
}


.milestones p, .program_description p{
	float: left;
	font-size: 120%;
	color: #666;
	display: block;
	text-align: justify;
}

.milestones img{
	float: left;
	margin: 0 15px 100px 0;
	width: 180px;
	height: auto;
}
.pager, .pager li, .pager li a, .pager li.pager-current, .pager li.pager-next, .pager li.pager-last{
	background: none;
	border:none;
}

.pager{
font-size: 1.2em;
}

.pager li a:hover, .pager li.pager-last a:hover, .pager li.first{
	border-radius: 10px;
}

.item-list .pager{
	margin: 20px 80px;
}

.pager li.pager-current{
	font-weight:600;
	color: #fff;
	background-color: #333;
}

.views-row{
	padding-top: 20px;
	padding-bottom: 20px;
	display: block;
	width: 100%;
	clear: both;
}

 .views-field-field-date-published{
 display: block;
 width: 25%;
 float: left;
 }
 
 .views-field-title{
 display: block;
 width: 75%;
 float: left;
 }

.region-header-first-inner{
	height: 80px;
}

#block-block-6, #block-views-latest-news-block-1{
	margin-top:20px;
}


.front .region-header-first-inner{
	height: auto;
}

#zone-content{
	padding-top: 20px;
}

#hero{
	width: 800px;
	padding: 10px 80px 10px 80px;
}

#Layout{
	width:100%;
}

#projects{
	width:910px;
	margin:20px auto 0 auto;
}

#projects h2{
	font-size:130%
	padding:0;
	color:#191919;
	margin:0 0 10px 0;
}

#projects img{
	float:left;
	padding:5px 10px 10px 0;
}

#block-views-latest-news-block-1 h2{
	margin-bottom:10px;
	font-size:110%;
    color:#191919;
    padding:0 0 5px 0;
	border-bottom: 6px solid #333;
}

#slidedeck-container-1{
	height: 200px;
}
.slide img{
float: left;
margin-right: 15px;
}

dl.slidedeck dd h3{
    font-size:110%;
    color:#191919;
    padding:0;
    margin:10px 0 5px 0;
    border:none;
    font-weight:bold;
}

dl.slidedeck dd h3{
	margin:0;
	padding:0 0 4px 0;
}

dl.slidedeck dd p{
	margin:0;
	padding-bottom:4px;
}

p.readmore{
	text-align:right;
}

#inner{
	width:960px;
	margin:0 auto;
	padding-bottom:20px;
}

#MainContent{
	width:750px;
	float:right;
}

#HomeContent{
    width:960px;
    margin:0 auto;
    padding-bottom:20px;
}

#Overview{
	width:600px;
	float:left;
}

#Overview h2{
	font-size:150%;
	padding-top:0;
}

#Overview p{
	font-size:120%;
	color:#666;
}

#HomeContent p{
    margin-top:-10px;
    line-height:1.6em;
}

#HomeContent ul{
    margin-left:80px;
    list-style-type: square;
    margin-top:10px;
}

#news{
    float:right;
    width:320px;
}

#zone-footer-wrapper{
    
    background-color:#333;
	padding:20px 0;
	border-top:1px solid #292929;
}

#zone-footer{
color:#e0e0e0;
	margin:0 auto;
}

#zone-footer p{
color:#e0e0e0;
}

#FooterLeft{
	width:480px;
	float:left;
}

#FooterRight{
	width:480px;
	float:right;
	text-align:right;
}

#zone-footer img{
	margin-left:20px;
}

.clear{
    clear:both;
}

#block-menu-block-1 {
	float:left;
	border-right 1px solid #ccc;
	margin:0 10px 10px 0;
	width: 100%;
}

#menu-block-1 ul.menu{
	padding:0;
	margin:0 20px 0 0;
	list-style-type:none;
	font-size:90%;
	font-weight:bold;
	text-align: right;
	text-transform: uppercase;
}

.menu-block-1 ul.menu li.leaf{
	margin-bottom:1em;
	list-style-type: none !important;
	list-style-image:none ;
}

.-menu-block-1 ul.menu li ul{
	text-align:right;
	margin:10px 0 20px 0;
	padding:0;
	font-weight:normal;
}

.menu-block-1 ul.menu li a{
text-decoration:none;
float: right;

}

#Breadcrumbs{
	padding-top:10px;
	padding-left:210px;
	font-size:90%;
}

ul.newsListing{
	list-style-type:none;
	padding:0 !important;
	margin:0 0 0 0 !important;
	font-size:90% !important;
}

.news-article-front{
	margin:0 0 5px 0;
	display:block;
	border-bottom:1px solid #ccc;
}

.front .views-row{
	padding:0;
}

.news-article-front .views-field-title{
	font-weight:bold;
	display:block;
	clear:both;
	width:100%;
		padding-bottom:4px;
}

.news-article-front .views-field-created{
	text-align:right;
	color:#666;
	font-size:90%;
	font-style:italic;
	padding-bottom:0px;
	margin-bottom:4px;
}

.news-article-front .views-field-body{
	padding-top:4px;
	margin-left: 10px;
	margin-right:10px;
	font-size:100%;
}

.lit_resource{
display: block;
width: 300px;
border: solid 2px;
margin: 10px;
}	

.lit_resource .resource_summary{
	padding: 10px;	
}

.lit_resource h3, .lit_resource h3 a{
	color:#fff;	

}
.lit_resource h3{
	margin:0 !important;
	padding: 0;
	background-color: #0A4D58;
}


.lit_resource h4{
	display: inline;	
}

.field{
	margin-bottom: 20px;
}


.field-type-taxonomy-term-reference .field-items .field-item{
	margin: 10px;
}
